body{
    font-family: sans-serif;
}
#genny_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.genny_capture {
    padding: 1rem;
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    min-width: 100px;
    min-height: 100px;
}

.genny_slug {
    font-size: 1rem;
}